<h1 class="text-3xl font-bold">Listado de productos</h1>
<h3 class="text-lg">Total de productos
  <span class="text-accent">{{ productsResource.value()?.totalCount }}</span>
</h3>

<div class="divider"></div>

<div class="flex flex-row justify-between gap-2">
  <shared-pagination [pages]="productsResource.value()?.totalPages ?? 1" [currentPage]="paginationService.currentPage()" />
  <div class="flex flex-1"></div>

  <select #productSelect class="select select-bprdered select-accent w-32" (change)="productsPerPage.set(+productSelect.value)">
    <option value="9">9</option>
    <option value="18">18</option>
    <option value="27">27</option>
    <option value="45">45</option>
  </select>

  <div class="flex flex-1"></div>

  <button class="btn btn-primary" routerLink="/admin/product/new" >Agregar producto</button>

</div>

<!-- Listado de Productos -->
<product-table [products]="productsResource.value()?.items ?? []" />
