<h1 class="text-3xl font-bold font-montserrat">Todos los productos
  <span class="text-accent">
    {{ gender() | i18nSelect: genderMap }}
  </span>
</h1>
<h2 class="text-xl mb-5">Para todos los gustos</h2>

<shared-pagination [pages]="productsResource.value()?.totalPages ?? 0" [currentPage]="paginationService.currentPage()" />

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">

  <!-- Componente de la tarjeta del producto <product-card> -->
  @for (product of productsResource.value()?.items; track product.id) {
    <product-card [product]="product" />
  }

  <!-- Empty -->
@empty {
  <p>No hay productos</p>
}

</div>
